@import '~bootstrap/scss/bootstrap';

html,
h1 {

  $background-color: #000;
  $font-color: #80bfff;
  $form-color: #ff9;

  background-color: $background-color;
  color: $font-color;
  font-family: 'Roboto Mono', sans-serif, bold;
  font-weight: bold;
  font-size: 12px;
  height: 100%;
}

#data {
  color: #ffe6e6;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#message {
  color: #ffe6e6;
  font-size: 20px;
  text-align: center;

  &.success {
    background-color: #e6e6fa;
  }

  &.failure {
    background-color: #ff4500;
  }
}

#authmessage {
  color: #ffe6e6;
  font-size: 20px;
  text-align: left;

  &.success {
    background-color: #000;
  }

  &.failure {
    background-color: #ff4500;
  }
}

#onescheme {
  color: #ffe6e6;
  font-size: 20px;
  text-align: left;

  &.success {
    background-color: #000;
  }

  &.failure {
    background-color: #ff4500;
  }
}

#submitmessage {
  color: #ffe6e6;
  font-size: 20px;
  text-align: left;

  &.success {
    background-color: #000;
  }

  &.failure {
    background-color: #ff4500;
  }
}


body {

  $background-color: #000;
  $font-color: #ff9;
  $form-color: #ff9;

  background-color: $background-color;
  color: $font-color;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
  height: 100%;
}
